<div class="container mt-5">
  <!-- Liste des articles dans le panier -->
  <% if @cart_items.any? %>
    <% @cart_items.each do |cart_item| %>
      <% if cart_item[:product] %>
        <div class="row mb-3">
          <div class="col-md-2">
            <%= image_tag cart_item[:product].image_url, class: "img-fluid", alt: cart_item[:product].name %>
          </div>
          <div class="col-md-4">
            <h5><%= cart_item[:product].name %></h5>
            <p><strong>Prix unitaire:</strong> <%= number_to_currency(cart_item[:product].price) %></p>
          </div>
          <div class="col-md-2">
            <p><strong>Quantité:</strong> <%= cart_item[:quantity] %></p>
          </div>
          <div class="col-md-2">
            <p><strong>Total:</strong> <%= number_to_currency(cart_item[:total_price]) %></p>
          </div>
          <div class="col-md-2">
            <%= button_to "Supprimer", remove_item_path(product_id: cart_item[:product].id), method: :delete, class: "btn btn-danger" %>
          </div>
        </div>
      <% else %>
        <p class="text-danger"><%= cart_item[:error] %></p>
      <% end %>
    <% end %>
  <% else %>
    <p>Votre panier est vide.</p>
  <% end %>

  <!-- Sous-total et total -->
  <div class="row">
    <div class="col-md-6">
      <p><strong>Total:</strong> <%= number_to_currency(@total) %></p>
    </div>
  </div>

  <!-- Boutons pour ajouter ou retirer des articles -->
  <div class="row mt-3">
    <div class="col-md-6">
      <%= link_to "Continuer vos achats", root_path, class: "btn btn-secondary" %>
    </div>
    <div class="col-md-6">

      <%= button_to "Passer commande", checkout_create_path(total: @sub_total), class: "btn btn-primary", data: { turbo: false } %>

    </div>
  </div>
</div>
